@media screen and (max-width: 320px) {
    .col-3 {
        width: 100% !important;
    }

    .col-9 {
        width: 100% !important;
    }

    .col-sidenav {
        border-radius: 0 !important;
    }
    
    .col-sidenav-right {
        border-radius: 0 !important;
    }
}

@media screen and (min-width: 370px) {
    
}

@media screen and (min-width: 425px) {
   
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1020px) {
	
}

@media screen and (min-width: 1400px) {

}